%h3 Latest Articles from RSS feeds
- @articles.each do |article|
  = link_to article.title, article.link, target: '_blank'
  %c= "#{article.pubDate.strftime('%d/%m/%Y')}"
  %c= "(#{article.try(:guid).try(:content).try(:slice, 8, 21)})"
  %br
